# Rename this file and fill your OAuth 2.0 client ID and secret
PORT=4000
CLIENT_ID=
CLIENT_SECRET=
SCOPES=user.profile offline_access
LUCID_URL=https://lucid.app
LUCID_API_URL=https://api.lucid.co
API_VERSION=1