<h4>
    {{phrases.title}}
    <img
        class="close"
        src="x24.svg"
        (click)="close.emit()"
    >
</h4>

<p>{{phrases.ratingQuestion}}</p>
<div class="stars">
    <img
        *ngFor="let starRating of [1,2,3,4,5]"
        class="star"
        [src]="rating >= starRating ? 'StarFill24.svg' : 'StarOutline24.svg'"
        (click)="rating = rating == starRating ? 0 : starRating"
    >
</div>

<p>{{phrases.feedbackPrompt}}</p>
<textarea
    #feedbackTextArea
    rows="3"
    [placeholder]="phrases.feedbackPlaceholder"
    (change)="feedback = feedbackTextArea.value"
></textarea>

<div class="button-container">
    <shared-button
        [displayText]="phrases.submit"
        (onClicked)="submit()"
        [disabled]="rating == 0"
    ></shared-button>
</div>
